extends base 

block content 
    h1 log in 
    form(method="POST")
        input(type="text" placeholder="ID" name="username")
        input(type="password" placeholder="password" name="password")
        button(type="submit",name="asdf")
    li 
        a(href="join") not a member yet? Join
    li 
        a(href="passwordMissing") forgot password? click here!
    