extends base 
include mixins/video 
block content 

    form(method="GET").search__form
        input(type="text" placeholder="search the title" name="keyword")
        button
            i.fas.fa-search
    div.video-grid
        each potato in videos 
            +apple(potato)
        else 
            span.empty__message sorry not found