extends ../base 

block content 
    form(method="post")
        input(placeholder="Old Password",name="oldPwd")
        input(placeholder="New Password",name="newPwd")
        input(placeholder="New Password Confirmation", name="newPwdConfirm")
        input(value="Change Password", type="submit")
    if errorMessage
        span=errorMessage